#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: 500;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom: 10px solid var(--background-color);
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    background-color: #61dafb2c;
    color: var(--text-color);
}

p, a, h1, h2, h3 {
    color: var(--text-color);
}

h1, h2, h3 {
    text-shadow: 1px 1px 1px var(--background-color);
}

.submit-button {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.nav-custom .nav-link {
    color: var(--text-color);
}

.nav-custom .nav-link:hover {
    color: var(--background-color);
    
}

.nav-custom .nav-link.active {
    color: var(--text-color); /* Active text color */
    background-color: var(--background-color); /* Active background color */
    border-radius: 5px 5px 0 0; /* Rounded top corners */
  }


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.skill-card {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card {
    background-color: var(--primary-color);

    padding: 12px;
    margin: 10px 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card h3 {
    margin-top: 0;
    color: var(--text-color);
    text-shadow: 1px 1px 1px var(--background-color);
}
